{
  "IsEncrypted": false,
  "Values": {
    "FUNCTIONS_WORKER_RUNTIME": "python",
    "AzureWebJobsFeatureFlags": "EnableWorkerIndexing",
    "AzureWebJobsStorage": "<BLOBSTORAGE_CONNECTIONSTRING>",
    "EventHubConnectionString": "<EVENTHUBS_CONNECTIONSTRING>",
    "CosmosDBConnectionString": "<COSMOSDB_CONNECTIONSTRING>",
    "CosmosDBName": "<COSMOSDB_DBNAME>",
    "CosmosDBContainer": "<COSMOSDB_COLLECTIONNAME>"
  }
}
